* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

i,
svg {
	pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
	width: 5rem;
	height: 5rem;
	margin: 1rem 0.5rem;
	cursor: pointer;
}

.pad {
	transition: all 0.5s ease;
}

.kick-pad {
	background: rgb(172, 172, 248);
}
.snare-pad {
	background: rgb(248, 194, 172);
}
.hihat-pad {
	background: rgb(172, 248, 189);
}
.kick-pad.active {
	background: rgb(110, 110, 255);
}
.snare-pad.active {
	background: rgb(252, 143, 100);
}
.hihat-pad.active {
	background: rgb(104, 252, 136);
}

.sequencer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.kick,
.snare,
.hihat {
	display: flex;
}

.kick-track,
.snare-track,
.hihat-track {
	display: flex;
	align-items: center;
	width: 70%;
	justify-content: center;
	margin-top: 5rem;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	margin: 0rem 2rem;
}

.controls button {
	/* padding: 1rem; */
	width: 2.5rem;
	height: 2.5rem;
	margin: 0.5rem;
	color: white;
	background: #333;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.5s ease;
}

.play {
	padding: 1rem 2rem;
	border: none;
	color: white;
	background: #333;
	cursor: pointer;
	margin-top: 2rem;
}

.play.active {
	color: white;
	background: rgb(114, 114, 114);
}
.mute.active {
	background: rgb(114, 114, 114);
}

select {
	padding: 1rem;
	font-size: 1rem;
}

@keyframes playTrack {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}

.tempo {
	margin: 3rem;
	width: 30%;
}

.tempo p {
	font-size: 1.5rem;
	margin: 2rem;
	text-align: center;
}

.tempo-slider {
	padding: 0.1rem;

	margin: 1rem 0rem;
	width: 100%;
	position: relative;
	background: rgb(182, 182, 182);
	cursor: pointer;
}
